<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <h1>
       Posts
      </h1>
      <ul class="list-group">
        <app-post-list-component *ngFor="let post of listPost"
                                 [postTitle]="post.title"
                                 [postContent]="post.content"
                                 [postLoveIts]="post.loveIts"
                                 [postDate]="post.created_at">

        </app-post-list-component>

      </ul>
    </div>
  </div>
</div>




