<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">
  <div class="text-right">{{postDate | date: 'short'}}</div>
  <h1 class="text-left">{{postTitle}}</h1>

  <p>{{postContent}}</p>
  <button type="button" class="btn btn-success" (click)="OnLoveItPlus()">Love it</button>
  <button type="button" class="btn btn-danger" (click)="OnLoveItMinus()">Don't love it</button>
</li>
